body{
    margin: 0;
    background-color: #141414;
  } 
 /* menu dashboard */

 .nav-item {
    margin-bottom: 15px;
}

/* text */
.nav-item span {
    color: white;
}

.nav-item a {
    padding-left: 10px;
    text-decoration: none;
}

.nav-item i {
    color: white;
    font-size: 20px;
    background-color: gray;
    padding: 7px;
    border-radius: 7px;
    text-decoration: none;
}
.nav .dropdown-menu{
  background-color: #141414;
}
.content-nav:hover, .nav-item i:hover {
  background-color: rgba(115, 115, 115, 0.56);
  border-radius: 5px;
  color: orange;
}

.menuDashboard{
  font-family: 'Playfair Display SC', serif;
  font-size: 22px;
}

/* summary of the status */
.summaryHeader{
    font-size: 25px;
    color: #e8e8e8;
    font-family: 'Playfair Display SC', serif;

  }
  .summaryReport {
    width: 22%;
    height: 30vh;
    border-radius: 10px;
    background-color: #1b1c1e;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
  }
  .summaryReport h1 {
    text-align: left;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: #ffffff;
  }
  .summary h2 {
    color: #d4d9d6;
    width: 25%;
    font-size: 25px;
    padding: 15px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 10px;
  }
  /* graph */
  .summary-graph{
    height: 430px;
    box-shadow: 0 0 10px #f07116;
    background-color: #fb974f;
    border-radius: 20px;
    font-family: 'Playfair Display SC', serif;
    width: 60%;
    
  }
  .summary-graph h1{
    font-size: 15px;
    border: 1px solid black;
  }
  .summary-graph p{
    font-size: 20px;
    font-weight: 200px;
    font-family: 'Martel Sans', sans-serif;
  }
  .contentGraph{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-top: 30px;
  }
  .divprogress{
    height: 50px;
    width: 75%;
    background-color: rgba(255, 255, 255, 0.56);
    border-radius: 10px;
  }
  .progress{
    background-color: white;
    height:25px;
    margin-left: 40px;
    border: 1px 2px 2px black;
  }
  .divprogress i{
    position: absolute;
    padding: 7px;
    font-size: 18px;
    border-radius: 5px;
  }
/*TIME*/
.dateTime{
  width: 97%;
    height: 105px;
    border-radius: 20px;
    background-color: #fb974f;
    color: #f0f0f0;
    box-shadow: 0 0 10px #f07116;
    margin-left: 2px;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .date{
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
    font-weight: 600;
  }
  .dateTime:hover{
    background-color: rgb(235, 235, 235);
    color: #1b1c1e;
  }
  .time{
    font-size: 27px;
    letter-spacing: 3px;
    justify-content: center;
    text-align: center;
  }
  .time span:not(:last-child){
    position: relative;
    margin: 0 6px;
    font-weight:600;
    text-align: center;
    letter-spacing: 3px;
  }
  .time span:last-child{
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
    background-color: #f0f0f0;
    color: #1b1c1e;
  }
  /* pie */
  .piechart{
    border-radius: 20px;
    margin:0;
    width: 97%;
    box-shadow: 0 0 10px #6d6d6d;
    background-color: rgb(235, 235, 235);
  }
/* table */
.tableData{
  border-radius: 20px;
  height: 90vh;
  margin-left: 4%;
  width: 95%;
}
.enrolled{
  width: 100%;
  height: 100%;
  font-family: 'Playfair Display SC', serif;
  background-color: #171717;
  border-radius: 30px;
  padding: 35px;
  padding-top: 20px;
  /* box-shadow: 0 0 5px #2e2e2e; */
}
.enrolled h1{
  color: #f77e28;
  font-size: 25px;
  font-weight: bold;
}
.enrolled h1::after{
  background-color: white;
  width: auto;
  height: 1px;
  content: ' ';
  position: absolute;
  margin-top: 54px;
  left: 0;
}

/*SEARCH AND DATABASE*/
.search button{
  border-radius: 10px;
  background-color: #f77e28;
  width: 100px;
  height: 40px;
  font-weight: bold;
  color: white;
  font-family: 'Playfair Display SC', serif;
  margin-left: 6px;
}
.search button:hover{
  z-index: auto;
  transform: scale(1.1);
  color: white;
  font-weight: bold;
}
.search input{
  height:37px;
  margin-right:2px;
  border-radius:5px;
}
.database{
  width: 100%;
  overflow: auto;
  height: 87%;
  border: 1px solid black;
  border-radius: 10px;
}
.database-table{
  width: 100%;
   border: 1 solid black;
   background-color: #202020;
   height: 30%;
}
.database-table td{
  border-bottom: 1px solid #7a7a7a;
  font-size: 17px;
  text-align: center;
  color: white;
  font-family: 'Martel Sans', sans-serif;
  height: 50px;
}
.database-table th{
  border-bottom: 1px solid #7a7a7a;
  background-color: #f77e28;
  text-align: center;
  font-size: 20px;
  color: black;
  font-weight: 500px;
  font-family: 'Adamina', serif;
  height: 50px;
}
.database tr{
  height: 40px;
  color: black;
  background-color: #2e2e2e;
}
.database tr:hover{
  background-color: #f77e28;
  color: white;
}
.database-table a{
  text-decoration: none;
  color: white;
}
.btn-pri{
  background-image: linear-gradient(to right, #ff9f0f, #f5c86e);
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
}

/* modal */
.modal .form-label {
  position: absolute;
  margin-left: 3%;
}

.modal .form-control {
  margin-left: 25%;
  width: 70%;
}

.modal .modal-header {
  background-image: linear-gradient(to right, #fb974f, #f5ab76);
  font-family: 'Playfair Display SC', serif;
}
.modal .modal-header h3{
  font-size: 30px;
}

.modal .modal-footer {
  height: 15px;
}